.assess-types
	margin-top: 6px
	border-bottom: #ccc solid 1px
	padding-bottom: 12px
	
.assess-type
	display: inline-block
	margin-right: 6px
	
.chosetype
	padding-left: 8px
	padding-right: 8px
	border: none
	height: 32px
	border-radius: 2px
	
.chosetype-selected
	background-color: #00a0dc
	color: white

.chosetype-default
	background-color: #ccecf8
