.main-comment
	background-color:#f3f5f7
	
.score
	display: flex
	width: 100%
	padding-top: 18px
	padding-bottom: 18px
	background-color: white
	border-bottom: #ccc solid 1px
	margin-bottom: 16px

.score-score
	flex: 0 0 138px
	width: 136px
	text-align: center
	border-right: #ccc solid 1px
	
.score-star
	flex: auto
	
.score-score-score
	color: #ffa942
	font-size: 24px
	line-height: 28px
	
.overall
	font-size: 16px
	line-height: 24px
	
.score-para
	color: #93999f
	line-height: 20px

.score-star
	padding-left: 24px
	line-height: 24px
	font-size: 14px
	
.score-star-dt,.score-star-dd
	display: inline-block
	
.score-star-dd .stars,.score-star-dd em
	display: inline-block
	color: #ff9900
	
.score-star-dd .star
	margin-top: 0
	position: relative
	top: 2px
	margin-left: 4px
	margin-right: 4px
	
.delivery-time
	font-weight: bold
	color: #93999f
	margin-left: 5px
	