.header
  background-color: rgba(7,17,27,0.5)
	 padding: 20px 12px 12px 24px
	 color: white
		 
.avatar
  display: inline-block
	 border-radius: 4px

.businessmen
	position: relative
	margin-bottom: 5px
	 
.businessmen-detail
  display: inline-block
	 vertical-align: top
		margin-left: 14px
  
.businessmen-title
  margin-bottom: 6px
	 margin-top: 5px
	 font-size: 14px
	 line-height: 18px
	 media-backimage('/static/image/header/brand','png')
	 background-size: 30px 18px
	 background-repeat: no-repeat
	 padding-left: 35px
 
.description
	margin-bottom: 6px
	
.support
	padding-left: 17px
	height: 12px
	line-height: 12px
	background-size: 12px 12px
	background-repeat: no-repeat
	&.decrease
		media-backimage('/static/image/header/decrease_1','png')
	&.discount
		media-backimage('/static/image/header/discount_1','png')
	&.guarantee
		media-backimage('/static/image/header/guarantee_1','png')
	&.invoice
		media-backimage('/static/image/header/invoice_1','png')
	&.special
		media-backimage('/static/image/header/special_1','png')

.support-count
	position: absolute
	bottom: 5px
	right: 12px
	cursor: pointer
	padding: 8px
	height: 12px
	line-height: 12px
	border-radius: 12px
	background-color: rgba(0,0,0,0.2)
  
.bulletin
  white-space: nowrap
	 overflow: hidden
	 text-overflow: ellipsis
	 cursor: pointer
	 media-backimage('/static/image/header/bulletin','png')
	 background-size: 22px 12px
	 background-repeat: no-repeat
	 padding-left: 30px
  height:24px	 
  line-height:24px
  background-color: rgba(0,0,0,0.2)
  background-position: 4px 6px
	 border-radius: 4px

.layer
	position: fixed
	z-index: 4
	width: 100%
	height: 100%
	left: 0
	top: 0
	background-color: rgba(7,17,27,0.8)
	
.layer-businessmen-title
  font-size: 16px
  text-align: center
  line-height: 32px
  margin-top: 18px	

.star
	margin-top: 10px
	
.layer-section-head
	display: flex
	width: 80%
	text-align: center
	margin:26px auto 22px auto
	
	h3
		padding-left: 12px
		padding-right: 12px

.line
	flex: 1
	border-bottom: rgba(255,255,255,0.2) solid 1px
	position: relative
	top: -6px

.offers
	width: 80%
	margin: 0 auto

.offers li
	margin-bottom: 12px
	
.bulletin-para
	width: 80%
	margin: 0 auto
	line-height: 20px

.close
  border: solid 1px #ccc
	 height: 24px
	 line-height: 24px
	 padding-left: 12px
	 padding-right: 12px
	 position: fixed
	 bottom: 0
	 left: 45%
	 border-radius: 5px


	 