.main-businessmen
	background-color: #f3f5f7
	overflow-y: auto

.businessmen-info,.businessmen-bulletin,.businessmen-view
	padding: 14px 18px
	background-color: white
	border-bottom: #ccc solid 1px
	margin-bottom: 16px
	font-family: '微软雅黑'
	
.businessmen-info-top
	display: flex
	border-bottom: #ccc solid 1px
	padding-bottom: 14px
	
.businessmen-info-name-star
	flex: auto
	.stars
		display: inline-block
		.star:first-of-type
			margin-left: 0 
	
.businessmen-info-name
	font-size: 14px

.rating-count,.sell-count
	color: #4d555d
	display: inline-block
	vertical-align: top
	margin-top: 12px
	margin-right: 12px
	
.collect-area
	flex: 0 0 60px
	width: 69px
	text-align: right
	color: #4d555d
	
.collect
	font-size: 24px
	display: block
	margin-bottom: 4px
	
.collect-after
	color: #f54100
	
.businessmen-info-others
	padding-top: 14px
	text-align: center
	
.businessmen-info-others::after
	content: ''
	clear: both
	display: block
	
.businessmen-info-other
	float: left
	width: 33.1%
	font-size: 14px
	border-right: #ccc solid 1px
	dt
		color: #b4b8bb
		margin-bottom: 4px
		width: 100%
	dd
		color: #07111b
	  em
		  font-size: 18px
		  font-weight: normal
			
.businessmen-info-other:last-of-type
	border-right: none
		
.businessmen-bulletin-title
	font-size: 16px
	color: #07111b
	line-height: 28px
	
.businessmen-bulletin-para
	font-size: 14px
	line-height: 22px
	color: #555
	
.businessmen-supports
	margin-top: 14px
	font-size: 14px
	
.businessmen-support
	padding-top: 14px
	padding-bottom: 14px
	border-top: #ccc solid 1px
	background-repeat: no-repeat
	background-position: center left
	background-size: 24px
	padding-left: 32px

.decrease
	media-backimage('/static/image/businessmen/decrease_3','png')
.discount
	media-backimage('/static/image/good/discount_3','png')
.guarantee
	media-backimage('/static/image/good/guarantee_3','png')
.invoice
	media-backimage('/static/image/good/invoice_3','png')
.special
	media-backimage('/static/image/good/special_3','png')	

.view-wrapper
	margin-top: 12px
	width: 100%
	overflow-x: auto
	overflow-y: hidden
	
.view
	display: inline-block
	margin-right: 12px
		